body {
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}


a:active {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bar {
    margin: 0 auto;
    width: 584px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;

}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar {
    display: flex;
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.button {
    background-color: #f5f5f5;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 11px 5px;
    border-radius: 4px;
    outline: none;
}

.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color: #808080;
}

.button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}
.adv-google-logo {
    display: flex;
    margin: 10px 0;
    height: 30px;

}
.h1-advanced {
    color: #d93025;
    font-size: 20px;
    margin: 25px 40px;
    font-weight: normal;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.h2-advanced {
    color: #333333;
    font-size: 16px;
    margin: 25px 40px;
    font-weight: normal;
}
.main_div{
	margin:10px 5vh;
	display: flex;
	justify-content: space-between;
}

.main_div .column .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px;
	margin:5px 0px;
	min-height: 25px;
}


.column .row {
    margin-top: 20px;
}
.left{
    margin-top: 30px;
}
.right{
    margin-top: 30px;
}
.column .row input{
    width: 385px;
	min-width:75%;
	height:30px;
    font-size: 13px;
}

.column .row input:focus{
	box-shadow:inset 0 0 2px .5px #2233ff;
}

.column .first{
	font-size:1.1rem;
    color:#777777;
}

.column1 .row label{
	font-size:14px;
}

.column1{
	width:65%;
}

.column2{
	width:35%;
}

.column2 .row label{
	font-size:11px;
	color:#555555;
    margin-top: 5px;
}

.adv-button{
	height:30px;
	min-width:120px;
	background: #4d90fe;
	border:1px solid #3079ed;
	color:#fff;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	user-select: none;
	box-shadow: none;
	margin:20px 0px 20px auto;
	display: block;
}
.adv-button:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    box-shadow: 0 0 2px rgb(0 0 0 / 60%);
      
}